table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 100px;
    font-size: 12px
}

table tr th {
    text-align: left;
    padding: 10px;
    background: #f2f2f2;
    border: 1px solid #d6d6d6;
    cursor: default
}

table tr td {
    padding: 10px;
    border: 1px solid #d6d6d6;
    cursor: default
}

.dados {
    border: 1px solid #d6d6d6;
    padding: 10px;
    background: #f1f1f1
}

.labelObrigatorio {
    color: red;
}

.marginTop {
    margin-top: 50px;
}

.carregando {
    margin: 530px 600px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    overflow-x: hidden;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
}

.sucesso {
    padding: 20px;
    background-color: #6cf400; /* Veerde */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 17px;
    background-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(8, 1, 1, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(245, 245, 245, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(17, 240, 73, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #11f049;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #11f049;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #11f049;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
